*{
    margin: 0;
    padding: 0;
}

main{
    background-color:#131929;
}

.btn-primary{
    width: 280px;
    background-color: #fff;
    color: #050C16;
    font-weight: 500;
    font-size: 20px;
}

.fonts{
    font-family: Roboto;
}
