nav {
    max-width: 320px;
    margin-inline: auto;
    // margin-top: 5%;
    color: $light-text-color;

    a {
        display: flex;
        gap: 5px;
        width: fit-content;
    }
}

#submit-page {
    margin-top: 1%;
    @extend %dark-background;
}

.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 15px;

    p {
        font-weight: 700;
    }
}

.question {
    padding: 0 15px;
    font-weight: 700;
    font-size: 38px;
    color: #FFF;
}