$background-color: #131929;
$dark-text-color: #050C16;
$light-text-color:#fff;
$primary-color: #FE6F44;
$success-color: #26B69F;
$gray-color: #686868;
$inp-color : #283756;

// $default

$base-font : Roboto;