*{
    margin: 0;
    padding: 0;
}

main{
    background-color:#131929;
    font-family: Roboto;
}

.btn-primary{
    width: 280px;
    height: 48px;
    background-color: #fff;
    color: #050C16;
    font-weight: 500;
    font-size: 20px;
    border: 0.5px solid #000;
    border-radius: 5px;
}

.select-btn{
    &:focus{
        background-color: #FE6F44;
        border-color:#FE6F44 ;
        color: #fff;
    }
}

