main {
    padding: 90px 0;
    .main-container {
        
        max-width: 320px;
        margin-inline: auto;
        // height: 100vh;
        background-color: rgba(51, 65, 102, 0.2);
        border: 1px solid rgba(51, 65, 102, 0.2);
        border-radius: 5px;
        
        .main-top {
            color: #fff;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 700;
            padding: 20px 15px;
            p{
                font-weight: 700;
            }
        }

        .question-container{
            padding: 0 15px;
            h1{
                font-weight: 700;
                font-size: 38px;
                color: #FFF;
            }
        }

        .opts {
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }

        .submit-btn{
            padding: 15px 20px;
            .btn-primary{
                color: #fff;
                background-color: #26B69F;
            }
        }
    }
}