 
<h1>Question Create</h1>
<a href="{% url 'questions' %}">Back to Questions</a>
<form action="" method="POST">
    <input type="hidden" name="form_type" value="question">
    {% csrf_token %}
    {{ question_form.as_p }}
    <button type="submit">Create Question</button>
</form>
<!-- We need take in the valuein the views foollow me -->



{% if poll%}
<h1>
    Add Choice
</h1>

{% for choice in poll.pollchoice_set.all %}
    {{ choice }} <br>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="question" value="{{poll.id}}">
    <input type="text" name="value">
    <button type="submit">Create Choice</button>
</form>
{% endif %}

