{% extends "base.html" %}
{% load static %}
{% block content %}
    
<main id="splash">
    <div class="pink-padding"></div>    
    <div class="image-container">
        
        <img src="{% static 'media/splash_screen.png' %}" alt="#">
        
      <div class="header-text">
          <p class="pollar">Pollar </p>
          <p class="express">Express</p>
        </div>
        
        <form action="/accounts/google/login/" method="post">
        {% csrf_token %}
        <button type="submit" class="login-with-google-btn">
            Sign In with Google
          </button>
        </form>
  
        
      </div>
      <footer>
          <p>
              made by 
            </p>
            <p>
                Seraphix
            </p>
      </footer>
    </main>
{% endblock content %}

<!-- <h1>
    TRAIN PAGE
</h1>
<form action="/accounts/google/login/" method="POST">

    {% csrf_token %}
    <button>LOGIN thru Google</button>
</form> -->