{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="admin_questions" class="desktop-view">
        
   
    <div class="questions-container">
        <button data-link="{% url 'lobby'%}" class="home">
            <i class="fa-solid fa-house"></i>
            <span >Home</span>
        </button>
        <div class="header" >
            <h1>Questions</h1>
            <button data-link="{% url 'create_question' %}"class="create-btn">Create</button>
        </div>
        
        {% for poll in questions %}
        
        <div class="question-container" data-link="{% url 'question_manager' poll.id %}">
            <div class="info-header">
                <div class="time">
                    {% if poll.is_active %}
                      {{poll.time_left}} 
                        {% else  %}
                      {{poll.duration}}
                    {% endif %}

                </div>
                {% if poll.is_active %}
                <div   class="active-box">Active</div>
                {% endif %}

                {% if not poll.has_votes %}
                <div   class="new-box">New</div>
                {% endif %}
            </div>
            <div class="main-question">
                {{poll.question}}
            </div>
        </div>
        {% endfor %}


    </div>

    <div class="filters-container">
        <h1>Sort</h1>
        <div data-params="sort"  data-sort-value="dn" class="filter-btn active-filter-btn">Newest First</div>
        <div data-params="sort" data-sort-value="do"  class="filter-btn">Oldest First</div>
        <h1>Show only</h1>
        <div data-params="status" data-status-value ="completed" class="filter-btn">Completed</div>
        <div  data-params="status" data-status-value ="new" class="filter-btn">New</div>
        <div data-params="status" data-status-value="active"  class="filter-btn">Active</div>
    </div>
</main>

<script defer src="{% static 'scripts/paramizer.js' %}"></script>
{% endblock content %}

    
    
    
    
    
    
    <!-- <div id="question">Question</div>
    <a href="{% url 'create_question' %}">Create Question</a>
    {% for poll in questions %}
    <hr>
    <a href="{% url 'question_manager' poll.id %}">{{poll.question}}</a>
    {{poll.is_active}}
    {{ poll.created_at|timesince}}
    {{poll.duration}}
    <hr>
    {% endfor %} -->

    
