nav {
    display: flex;
    flex-direction: row;
    max-width: 320px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    color: $light-text-color;

    button {
        display: flex;
        gap: 5px;
        width: fit-content;
        cursor: pointer;
        align-items: center;
    }

    .home{
        align-items: baseline;
    }

    button{

        border: none;
        outline: none;
        background-color: unset;
        color: $light-text-color;
        font-size: 1rem;
        cursor: pointer;

    }
}


#submit-page {
    margin-top: 1%;
    @extend %dark-background;

    .header {
        color: #fff;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        padding: 20px 15px;

        p {
            font-weight: 700;
        }
    }

    .question {
        padding: 0 15px;
        font-weight: 700;
        font-size: 38px;
        color: #FFF;
    }

    input[type='radio'] {
        display: none;
    }

    input[type="radio"]:checked + label {
        @extend .active-btn;
      }

}